@charset "utf-8";
/*
==============================================
CSS FULLSCREEN
==============================================
*/
.addfullscreen .d_headergrl, .addfullscreen .d_headergrltitle{
    display: none;
}
.addfullscreen .d_contegrl{
    height: 100%;
    bottom: 0;
}
/*
==============================================
CSS HEADER
==============================================
*/
.d_headergrltitle{
    position: absolute;
    float: inherit;
}
/*
==============================================
CSS CONTENIDO
==============================================
*/
.d_contegrlcanvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*
==============================================
CSS EMERGENTE CONSTRUCCION PIEZAS
==============================================
*/
.d_loadergrl{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.95);
    display: none;
}
.d_loadergrlconte{
    width: 60%;
    height: 4rem;
    position: absolute;
    left: 20%;
    top: calc(50% - 2rem);
    background-color: #f2f2f2;
    box-shadow: 0rem 0rem 0.2rem rgba(0,0,0,.35);
}
.d_loadergrltext{
    width: 100%;
    height: 80%;
    color: #343434;
    font-family: "Berlin Sans FB";
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_loadergrlbar{
    width: 0%;
    max-width: 100% !important;
    height: 20%;
    background-color: #F15A24;
}
/*
==============================================
CSS MEDIA
==============================================
*/
@media (orientation: landscape) {
    /*****HEADER*****/
    .d_headergrl{
        width: auto;
        height: 100%;
        top: 0;
        left: auto;
        right: 0;
    }
    .d_headergrltitle {
        width: calc(100% - 6rem);
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.1);
    }
    .d_headergrltitletxt{
        color: #343434;
    }
    .d_headergrlbtnsalir, .d_headergrlbtnsobjetivos, .d_headergrlbtnsinstrucciones{
        float: none;
    }
    /*****CONTENIDO*****/
    .d_contegrl{
        height: 100%;
        width: calc(100% - 6rem);
    }
    /*****FULLSCREEN*****/
    .addfullscreen .d_contegrl{
        width: 100%;
    }
}

/*ESTILO PARA LAS VENTANAS DE EDITAR/BORRA */
.container_row{
    width: 100%;
    float: left;
    min-height: 6rem;
    border-width: 0.3rem;
    box-sizing: border-box;
    border-color: #ffffff;
    color: #ffffff;
    position: relative;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin-bottom: 2.5rem;
}
.date{
    color: #817e7e;
    width: 25%;
    float: left;
    box-sizing: border-box;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    outline: none;
    text-align: center !important;
    position: fixed;
}
.name_hidden {
    color: #c3c3c3;
    width: 80%;
    margin-top: 4rem !important;
    float: left;
    box-sizing: border-box;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: justify;
    outline: none;
    margin: 0.5rem 0 0.5rem 2rem;
}
.input_edit{
    width: 53%;
    height: 2rem;
    background-color: #ffffff;
    float: left;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    color: #009eb3;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: justify;
    outline: none;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    position: absolute;
    top: 2rem;
    left: 3rem;
}
.container_confirm{
    top: 13.2rem;
    position: absolute;
    height: 8rem;
    width: 20rem;
    background-color: #ffffff;
    border: 1px solid #009eb3;
    left: 0rem;
    z-index: 1;
}
.mssg{
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: center;
    color: grey;
}
.btn_aceptar{
    width: 3rem;
    height: 3rem;
    float: left;
    background-color: brown;
    margin: 0.3rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    cursor: pointer;
}
.btn_cancelar{
    width: 3rem;
    height: 3rem;
    float: left;
    background-color: brown;
    margin: 0.3rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    cursor: pointer;
}
.blocks_tooltip_edit{
    position: absolute;
    top: -2rem;
    right: 0.2rem;
    min-width: 10.4rem;
}
.tooltip_btn{
    width: 2.4rem;
    height: 2.4rem;
    float: right;
    border: 0.05rem solid #ffffff;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin: 0.1rem;
    background-image: url(../../src/img/crk_bloques_rutina_sprite.png);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.3rem rgb(0 0 0 / 75%);
    cursor: pointer;
    transform: scale(0);
}
.d_pxbtooltip_anima1_edit {
    animation: showBtn 0.2s 0.0s 1 both;
}
.d_pxbtooltip_delete_edit {
    background-position: 100% 100%;
}
.d_pxbtooltip_anima3_edit {
    animation: showBtn 0.2s 0.2s 1 both;
}
.d_tooltip_edit {
    background-position: 100% 88.88%;
}
/*
==============================================
CSS KEYFRAMES
==============================================
*/
@keyframes showBtn{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}