@charset "utf-8";
/*
==============================================
CSS PRELOADER
==============================================
*/
.d_helperResources{
    display: none;
    background-image:
        url(../img/crk_entorno3d_rutina_sprite.png);
}
/*
==============================================
CSS REAJUSTES
==============================================
*/
.d_pxbnavbtns  #borrarProyecto, .d_pxbnavbtns  #cargarProyecto, .d_pxbnavbtns  #descargar{
    //opacity: 0.5 !important;
    //cursor: default !important;
    //display: none !important;
}
.d_pxbpreview{
    display: none !important;
}
.d_pxbbloquesviewspopup{
    //display: none !important;
}
/*
==============================================
CSS VISTA ENTORNO 3D
==============================================
*/
.d_pxbviewentorno3dbase{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbentorno3dall{
    width: 100%;
    height: calc(100% - 14rem);
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbviewcomponents{
    width: 100%;
    height: 11.5rem;
    //max-height: 14rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    border-width: 0.05rem 0 0 0;
    border-style: solid;
    border-color: #b3b3b3;
    box-sizing: border-box;
}
.d_pxbviewcomponentscursor{
    cursor: move;
}
/*Contenedor de componentes*/
.d_pxbviewcomponentsconte{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    position: absolute;
    top: 1rem;
    left: 0.5rem;
}
.d_pxbviewcomponentsconte_block{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbcomponentsscroll{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.d_pxbcomponentsscroll::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
.d_pxbcomponentsscroll::-webkit-scrollbar-thumb {
    background: rgba(0,158,179,0.5);
    border-radius: 1rem;
}
.d_pxbcomponentsscroll::-webkit-scrollbar-thumb:hover {
    background: #009EB3;
}
.d_pxbcomponentsscroll::-webkit-scrollbar-thumb:active {
    background-color: #009EB3;
}
.d_pxbcomponentsscroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 1rem;
}
.d_pxbcomponentsscroll::-webkit-scrollbar-track:hover,
.d_pxbcomponentsscroll::-webkit-scrollbar-track:active {
    background: #e1e1e1;
}

.d_pxbcomponentsconte{
    width: 96.1rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbcomponentsbtn{
    float: left;
    position: relative;
}
.d_pxbcomponentsbtnrest{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0rem;
    right: 0.4rem;
    background-color: #f2f2f2;
    cursor: pointer;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.1rem rgb(0 0 0 / 25%);
}
.d_pxbcomponentsbtnrest > svg{
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
}
.d_pxbcomponentsbtnrest > svg > path:nth-child(1), .d_pxbcomponentsbtnrest > svg > path:nth-child(2){
    fill: #808080;
}
.d_pxbimg{
    width: 6rem;
    height: 6rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    background-image: url(../img/crk_entorno3d_rutina_sprite.png);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
    position: relative;
}
.d_pxbtxt{
    width: 8rem;
    height: 2rem;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.d_comp_led{
    background-position: 0% 0%;
}
.d_comp_pushbutton{
    background-position: 11.11% 0%;
}
.d_comp_resistance{
    background-position: 22.22% 0%;
}
.d_comp_jumper{
    background-position: 33.33% 0%;
}
.d_comp_rgb{
    background-position: 44.44% 0%;
}
.d_comp_buzzer{
    background-position: 55.55% 0%;
}
.d_comp_arduino{
    background-position: 66.66% 0%;
}
.d_comp_powerbank{
    background-position: 77.77% 0%;
}
.d_comp_protoboard{
    background-position: 88.88% 0%;
}
.d_comp_cdcable{
    background-position: 100% 0%;
}
.d_comp_usbcable{
    background-position: 0% 11.11%;
}
.d_comp_switch{
    background-position: 11.11% 11.11%;
}
.d_comp_preset{
    background-position: 22.22% 11.11%;
}
.d_comp_ldr{
    background-position: 33.33% 11.11%;
}
.d_comp_rgbc{
    background-position: 44.44% 11.11%;
}
.d_comp_ultrasonic{
    background-position: 55.55% 11.11%;
}
.d_comp_acadapter{
    background-position: 66.66% 11.11%;
}
/*Btn para ocultar btn de menu componentes*/
.d_pxbviewcomponentsbtn{
    width: 4rem;
    height: 2rem;
    position: absolute;
    left: calc(50% - 2rem);
    top: -1rem;
    background-color: #f2f2f2;
    border-width: 0.05rem 0.05rem 0 0.05rem;
    border-style: solid;
    border-color: #b3b3b3;
    box-sizing: border-box;
    cursor: pointer;
}
.d_pxbviewcomponentsbtn_hide{
    top: -2rem;
}
.d_pxbviewcomponentsbtn_hide .d_pxbviewcomponentssvg{
    transform: rotate(0deg);
}
.d_pxbviewcomponentssvg{
    width: 2rem;
    height: 100%;
    position: absolute;
    right: calc(50% - 1rem);
    top: 0;
    transform: rotate(180deg);
}
/*Elementos emergentes para editar objetos 3d*/
/*.pxbentorno3dtooltip{
    position: absolute;
    display: none;
}*/

/*Menu para editar cada objeto 3d*/
.d_pxbentorno3dpopupin{
    //width: 10rem;
    //max-height: calc(100% - 1rem);
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    display: table;
}
.d_pxbentorno3dpopupin_block{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbentorno3dpopuptitle{
    //width: calc(100% - 0.6rem);
    //height: 2.4rem;
    //margin: 0.5rem;
    float: left;
    background-color: #808080;
}
.d_pxbentorno3dpopupconte{
    //width: calc(100% - 2rem);
    //width: 6rem;
    //height: calc(100% - 4.2rem);
    //margin: 0.5rem;
    float: left;
    //overflow-y: auto;
}
.d_pxbentorno3dpopuptitleicon{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 0.3rem;
    background-image: url(../img/crk_entorno3d_rutina_sprite.png);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    border: 0.2rem solid #009eb3;
    box-sizing: border-box;
    display: none;
}
.d_pxbentorno3dpopuptitletxt{
    width: calc(100% - 2.4rem);
    height: 100%;
    color: #ffffff;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_pxbentorno3dpopupcontetxt{
    width: 100%;
    height: 2.4rem;
    margin: 0.5rem 0 0.5rem 0;
    float: left;
    display: flex;
    align-items: center;
    color: #343434;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
}
.d_pxbentorno3dpupconteselect {
    width: 8rem;
    height: 2.4rem;
    margin: 0.3rem;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    float: left;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
    background-color: #f2f2f2;
    outline: none;
}
/*.d_pxbpopupconteinputnumber{
    width: 100%;
    float: left;
    margin: 0.5rem 0 0.5rem 0;
}
.d_pxbpopupconteinputnumber div{
    width: 100%;
    float: left;
    margin: 0.5rem 0 0.5rem 0;
}
.d_pxbpopupconteinputnumber p{
    width: 2rem;
    height: 2rem;
    color: #009eb3;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
    float: left;
    margin: 0;
    display: flex;
    align-items: center;
}
.d_pxbpopupconteinputnumber input{
    width: calc(100% - 2rem);
    height: 2rem;
    float: left;
    outline: none;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin: 0;
    text-indent: 0.2rem;
}*/
.d_pxbentorno3dpopupbtns{
    width: 100%;
    display: table;
    float: left;
    margin: 0;
}
.d_pxbentorno3dpopupbtnsconte{
    display: table;
    margin: auto;
}
.d_pxbentorno3dpopupbtnsconteaccept, .pxbentorno3drotatebtn, .pxbentorno3ddeletebtn{
    width: 2.4rem;
    height: 2.4rem;
    float: left;
    margin: 0.3rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    cursor: pointer;
    position: relative;
}
.d_pxbentorno3dpopupbtnsconteaccept > svg, .pxbentorno3drotatebtn > svg, .pxbentorno3ddeletebtn > svg{
    width: 100%;
    height: 100%;
    position: absolute;
}
/*Info de coordenadas*/
.d_pxbentorno3dcoord, .d_pxbentorno3dcoordmove{
    position: absolute;
    background-color: rgba(255,255,255,.85);
    border-radius: 0.3rem;
    //padding: 0.3rem;
}
.d_pxbentorno3dcoord{
    bottom: 0.5rem;
    right: 0.5rem;
    display: none !important;
}
.d_hideImportant{
    display: none !important;
}
.d_pxbentorno3dcoord .d_coordtxt, .d_pxbentorno3dcoordmove .d_coordtxt{
    font-family: "Berlin Sans FB";
    color: #808080;
    font-size: 1.1rem;
    text-align: left;
    margin: 0.3rem;
    display: none;
}
.d_pxbentorno3dcoord span, .d_pxbentorno3dcoordmove span{
    font-family: "Berlin Sans FB";
    color: #F15A24;
    padding: 0 0.4rem 0 0.4rem;
    font-size: 1.1rem;
    text-align: left;
}
/*Pasos btns*/
.d_pxbentorno3dpasos{
    position: absolute;
    top: 2rem;
    left: 0.3rem;
    width: 4rem;
    max-height: calc(100% - 3rem);
    overflow-y: auto;
}
.d_pxbentorno3dpasos_block{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbentorno3dpasosbtn{
    width: 2.4rem;
    height: 2.4rem;
    background-color: #999999;
    border-radius: 0.2em;
    color: #ffffff;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    cursor: pointer;
    float: left;
    position: relative;
}
.d_pxbentorno3dpasosbtn_resalte{
    background-color: #343434;
    color: #ffffff;
}
.d_pxbentorno3dpasosbtn_valida{
    background-color: #8CC63F;
    color: #ffffff;
}
/*BTN play animation*/
.d_pxbentorno3dplay{
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    
    display: none;
}
.d_pxbentorno3dplay > input{
    position: absolute;
    visibility: hidden;
}
.d_pxbentorno3dplay > label{
    display: table;
    cursor: pointer;
}
.d_pxbentorno3dplay > input[type=checkbox]:checked + label div svg path{
    fill: #00c300;
}
/*.d_pxbentorno3dplay > input[type=checkbox]:checked + label{
    border: 0.05rem solid #8CC63F;
}*/
.d_pxbentorno3dplay > input[type=checkbox]:checked + label .d_pxbentorno3dplaysvg{
    animation: expand 2s infinite;
    -webkit-animation: expand 2s infinite;
    border: 0.05rem solid #00c300;
}
.d_pxbentorno3dplay > input[type=checkbox]:checked + label .d_pxbentorno3dplaytime{
    color: #00c300;
}
.d_pxbentorno3dplaysvg{
    width: 3rem;
    height: 3rem;
    float: right;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
}
.d_pxbentorno3dplaysvg svg{
    width: 100%;
    height: 100%;
}
.d_pxbentorno3dplaysvg svg path{
    fill: #808080;
}
#d_pxbentorno3dplaysvgpower, #d_pxbentorno3dplaysvgplug{
    display: none;
}
.d_pxbentorno3dplaytxt{
    height: 2.4rem;
    float: right;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 1.3rem;
    background-color: rgba(242,242,242,.75);
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin-top: 0.3rem;
    margin-left: -0.8rem;
}
.d_pxbentorno3dplaytime{
    width: 100%;
    position: absolute;
    bottom: -1rem;
    right: 0;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: right;
    padding: 0 0.5rem 0 0;
}
.d_pxbentorno3dplaytime span{
    width: 2rem;
}
/*Labels*/
.d_labelpositivo{
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border: 0.2rem solid red;
    box-sizing: border-box;
    border-radius: 50%;
    color: red;
    font-family: "Berlin Sans FB";
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_labelresistance{
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    color: #009eb3;
    font-family: "Berlin Sans FB";
    font-size: 1rem;
    text-align: center;
    z-index: 0 !important;
}
/*ACTIVATES*/
.d_activatepushbutton{
    width: 3rem;
    height: 3rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.d_activatepushbutton > svg{
    width: 100%;
    height: 100%;
}
.d_activateswitch{
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.2rem;
    display: none;
}
.d_activateswitch > div{
    width: 1.4rem;
    height: 3.4rem;
    float: left;
    position: relative;
    margin: 0.1rem;
}
.d_activateswitch > div > label{
    width: 90%;
    height: 65%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.d_activateswitch > div > label > input {
    opacity: 0;
    width: 0;
    height: 0;
}
.d_activateswitchslider {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
    //border: 0.1rem solid #808080;
    //box-sizing: border-box;
}
.d_activateswitchslider:before {
    position: absolute;
    content: "";
    height: 50%;
    width: calc(100% - 0.2rem);
    bottom: 0.1rem;
    background-color: #808080;
    -webkit-transition: .4s;
    transition: .4s;
    border: 0.1rem solid #ffffff;
    box-sizing: border-box;
    left: 0.1rem;
}
input:checked + .d_activateswitchslider {
  background-color: #8cc63f;
}
input:checked + .d_activateswitchslider:before {
  -webkit-transform: translateY(-85%);
  -ms-transform: translateY(-85%);
  transform: translateY(-85%);
}


.d_activateswitch > div > p{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: #009eb3;
    font-family: "Berlin Sans FB";
    font-size: 1rem;
    text-align: center;
}
.d_activatebuzzer{
    width: 3rem;
    height: 3rem;
}
.d_activatebuzzer > svg{
    width: 100%;
    height: 100%;
}
.d_activatepreset{
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.2rem;
    display: none;
}
.d_activatepresetcircle{
    width: 3rem;
    height: 3rem;
    margin: 0 2rem 0 2rem;
    background-image: url(../img/crk_entorno3d_rutina_sprite.png);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
    background-position: 66.66% 100%;
    border-radius: 50%;
}
.d_activatepresetbtns{
    width: 7rem;
    margin-top: -2.7rem;
    display: table;
    margin-bottom: 0.3rem;
}
.d_activatepresetbtnleft, .d_activatepresetbtnright{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    cursor: pointer;
}
.d_activatepresetbtnleft{
    float: left;
}
.d_activatepresetbtnright{
    float: right;
}
.d_activateldr{
    //background-color: #f2f2f2;
    //border: 0.05rem solid #b3b3b3;
    //box-sizing: border-box;
    //border-radius: 1.5rem;
    display: none;
}
.d_activateldrleft, .d_activateldrright{
    width: 2.4rem;
    height: 2.4rem;
    //margin: 0;
    cursor: pointer;
    float: right;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.d_activateldrleft{
    transform: rotate(90deg);
    margin-right: 0.75rem;
}
.d_activateldrright{
    transform: rotate(90deg);
    margin-left: 0.75rem;
}
.d_activateldrlight{
    width: 4rem;
    height: 4rem;
    margin: 0.2rem;
    //position: absolute;
    //top: -9rem;
    //left: -1rem;
    float: right;
}
.d_activate_show{
    display: block;
}
.d_activateldrlight path{
    opacity: 0;
}
.d_activateldrlight circle{
    opacity: 0.5;
}
.d_activateled, .d_activatergbc, .d_activatergb, .d_activatebuzzer_crash{
    width: 5rem;
    height: 5rem;
}
.d_activateled > svg, .d_activatergbc > svg, .d_activatergb > svg, .d_activatebuzzer_crash > svg{
    width: 100%;
    height: 100%;
}
.d_disablebtn{
    cursor: default;
    opacity: 0.3;
}
.d_activateultrasonic{
    width: 10rem;
    height: 7.5rem;
    display: flex;
}
.d_activateultrasonic > svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_activateultrasonic > input{
    width: 6rem;
    height: 2rem;
    margin: auto;
    cursor: pointer;
    transform: rotate(90deg);
}
/*ADVERTENCIAS*/
.d_pxbviewentorno3dwarning{
    width: 60%;
    position: absolute;
    bottom: 2.5rem;
    left: 20%;
    background-color: #ffffff;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin: 0;
    display: none;
    box-shadow: 0 0rem 0.2rem rgba(0,0,0,.35);
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}
.d_pxbviewentorno3dwarningimg{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.d_pxbviewentorno3dwarning li{
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
    margin: 0.2rem 0.2rem 0.2rem 1.5rem;
}
.d_pxbviewentorno3dwarning li span{
    color: #009eb3;
}
/*Mensaje final*/
.d_pxbviewentorno3dmessagegrl{
    width: 80%;
    position: absolute;
    bottom: 2.5rem;
    left: 10%;
    background-color: #ffffff;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin: 0;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
    display: none;
    box-shadow: 0 0rem 0.2rem rgba(0,0,0,.35);
}
.d_pxbviewentorno3dmessagegrl span{
    color: #009eb3;
    font-size: 1.3rem;
}

/*PASOS*/
.d_pxbentorno3dsteps{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #f2f2f2;
    border-width: 0 0 0.2rem 0;
    border-color: #7fced9;
    border-style: solid;
}
.d_pxbentorno3dsteps_block{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d_pxbentorno3dstepsbtnsconte{
    width: 100%;
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
}
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar-thumb {
    background: rgba(0,158,179,0.5);
    border-radius: 1rem;
}
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar-thumb:hover {
    background: #009EB3;
}
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar-thumb:active {
    background-color: #009EB3;
}
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 1rem;
}
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar-track:hover,
.d_pxbentorno3dstepsbtnsconte::-webkit-scrollbar-track:active {
    background: #e1e1e1;
}
.d_pxbentorno3dstepsscrollbtn{
    width: 28.8rem;
}
.d_pxbentorno3dstepsscrolliconprev, .d_pxbentorno3dstepsscrolliconprev_giro{
    width: 2.4rem;
    height: 2.4rem;
    float: left;
    cursor: pointer;
}
.d_pxbentorno3dstepsscrolliconprev_giro{
    transform: rotate(180deg);
}
.d_pxbentorno3dstepsscrolliconprev > svg, .d_pxbentorno3dstepsscrolliconprev_giro > svg{
    width: 100%;
    height: 100%;
}
.d_pxbentorno3dstepsscrolliconprev > svg > path, .d_pxbentorno3dstepsscrolliconprev_giro > svg > path{
    fill: #009EB3;
}
.d_pxbentorno3dstepsscrolliconreflexion{
    width: 2.4rem;
    height: 2.4rem;
    float: left;
}
.d_pxbentorno3dstepsscrolliconreflexion > svg{
    width: 100%;
    height: 100%;
}
.d_pxbentorno3dstepsbtns{
    width: 2.4rem;
    height: 2.4rem;
    float: left;
    color: #009EB3;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.d_pxbentorno3dstepsbtnsanima{
     animation: indicador 2s infinite;
    -webkit-animation: indicador 2s infinite;
}
.d_pxbentorno3dstepsbtns_resalte{
    background-color: #7fced9;
    color: #ffffff;
    border: 0.2rem solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 50%;
}
.d_pxbentorno3dstepsbtns_valida{
    background-color: #8CC63F;
    color: #ffffff;
    border: 0.2rem solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 50%;
}
.d_pxbentorno3dstepstxt{
    width: calc(100% - 3.4rem);
    float: left;
    padding: 0.5rem 2.9rem 0.5rem 0.5rem;
    display: none;
    position: relative;
}
.d_pxbentorno3dstepstxtclose{
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.d_pxbentorno3dstepstxtclose svg{
    width: 100%;
    height: 100%;
}
.d_pxbentorno3dstepstxtclose svg path{
    fill: #009EB3;
}
.d_pxbentorno3dstepstxt p{
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
}

/*EMERGENTE GESTOS*/
.d_pxbentorno3dgestos{
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.d_pxbentorno3dgestoscenter{
    width: 28.6rem;
    height: 13rem;
    position: absolute;
    bottom: 13rem;
    left: calc(50% - 14.3rem);
    background-color: rgba(255,255,255,.65);
    background-image: url(../img/crk_simulador_interfaz_gestos.png);
    background-size: 100% 500%;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}
.d_pxbentorno3dgestos_tactil{
    background-position: 0% 25%;
}
.d_pxbentorno3dgestos_mouse{
    background-position: 0% 0%;
}
.d_pxbentorno3dgestosclose{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    border-radius: 50%;
    background-color: #009EB3;
    cursor: pointer;
    box-shadow: 0 0 0.2rem rgba(0,0,0,.5);
}
.d_pxbentorno3dgestosclose > svg > path{
    fill: #ffffff;
}
.d_emergentegestos{/*Oculta gestos que son de armado y simulacion*/
    display: none;
}
/*BTN preguntas reflexion*/
.d_pxbentorno3dreflexionicon{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    border-radius: 0.3em;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
}
.d_pxbentorno3dreflexionicon svg{
    width: 100%;
    height: 100%;
}
.d_pxbentorno3dreflexiontxt{
    position: absolute;
    top: 0.7rem;
    left: 4.5rem;
    margin-right: 0.5rem;
    box-shadow: 0 0rem 0.2rem rgba(0,0,0,.35);
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
}
.d_pxbentorno3dreflexiontxt > p{
    margin: 0;
    padding: 0.5rem;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
}
/*Pasos instrucciones*/
.d_pxbentorno3dinstrucciones{
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    max-width: calc(100% - 4rem);
}
.d_pxbentorno3dinstrucciones_reflexion{
    left: 4rem;
    max-width: calc(100% - 4.5rem);
}
.d_pxbentorno3dinstrucciones p{
    margin: 0;
    padding: 0.5rem;
    background-color: #f2f2f2;
    border: 0.05rem solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 0.3em;
    color: #808080;
    font-family: "Berlin Sans FB";
    font-size: 1.1rem;
    text-align: left;
}

.d_emergentectrlpushbutton{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.d_emergentectrlpushbuttonin{
    background-color: rgba(0,0,0,.25);
    padding: 1rem;
    color: #f2f2f2;
    font-family: "Berlin Sans FB";
    font-size: 1.4rem;
    border-radius: 1rem;
    text-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
}
#d_contegrllabels div{
    z-index: 0 !important;
}
/*
==============================================
CSS MEDIA
==============================================
*/
@media (orientation: landscape) {
    /*****VISTA ENTORNO 3D*****/
    .d_pxbentorno3dall{
        width: calc(100% - 12rem);
        height: 100%;
        top: 0;
    }
    .d_pxbviewcomponents{
        width: 12rem;
        height: 100%;
        max-height: inherit;
        top: 0;
        bottom: inherit;
        right: 0;
        border-width: 0 0 0 0.05rem;
        border-style: solid;
        border-color: #b3b3b3;
    }
    /*Contenedor de componentes*/
    .d_pxbviewcomponentsconte{
        width: calc(100% - 1.5rem);
        height: calc(100% - 1rem);
        top: 0.5rem;
        left: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .d_pxbcomponentsscroll{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .d_pxbcomponentsconte{
        width: 100%;
        height: 96.1rem;
    }
    .d_pxbcomponentsbtn > div{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .d_pxbcomponentsbtn > p{  
        margin: auto;  
    }
    .d_pxbcomponentsbtn_block{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .d_pxbcomponentsbtnrest{
        top: -0.4rem;
        right: 0.6rem;
    }
    /*Editar cada componente*/
    .d_pxbentorno3dpopuptitleicon{
        display: block;
    }
    /*Btn para ocultar btn de menu componentes*/
    .d_pxbviewcomponentsbtn{
        width: 2rem;
        height: 4rem;
        top: calc(50% - 2rem);
        left: -1rem;
        border-width: 0.05rem 0 0.05rem 0.05rem;
    }
    .d_pxbviewcomponentsbtn_hide{
        left: -2rem;
    }
    .d_pxbviewcomponentsbtn_hide .d_pxbviewcomponentssvg{
        transform: rotate(-90deg);
    }
    .d_pxbviewcomponentssvg{
        width: 100%;
        height: 2rem;
        top: calc(50% - 1rem);
        right: 0;
        transform: rotate(-270deg);
    }
    /*Pasos instrucciones*/
    .d_pxbentorno3dinstrucciones{
        max-width: calc(100% - 5rem);
    }
    .d_pxbentorno3dinstrucciones_reflexion{
        max-width: calc(100% - 4.5rem);
    }
    /*ADVERTENCIAS*/
    .d_pxbviewentorno3dwarning{
        bottom: 0.5rem;
    }
    /*Mensaje final*/
    .d_pxbviewentorno3dmessagegrl{
        bottom: 0.5rem;
    }
    /*EMERGENTE GESTOS*/
    .d_pxbentorno3dgestoscenter{
        bottom: 2.5rem;
    }
}
/*
==============================================
CSS KEYFRAMES
==============================================
*/
@keyframes expand{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    0%{
        transform: scale(1);
    }
}
@-webkit-keyframes expand{
    0%{
        -webkit-transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
    }
    0%{
        -webkit-transform: scale(1);
    }
}
@keyframes indicador{
    0%{
        transform: scale(1);
        color: #009EB3;
    }
    50%{
        transform: scale(1.4);
        color: #fbae17;
    }
    0%{
        transform: scale(1);
        color: #009EB3;
    }
}
@-webkit-keyframes indicador{
    0%{
        -webkit-transform: scale(1);
        color: #009EB3;
    }
    50%{
        -webkit-transform: scale(1.4);
        color: #fbae17;
    }
    0%{
        -webkit-transform: scale(1);
        color: #009EB3;
    }
}